@import "../../style/globals";
header {
  .header-top {
    display: none;
    @media (min-width: 1200px) {
      display: block;
      font-size: 12px;
      padding: 8px 0 9px;
      color: #f5f5f5;
      background: $primary_color;
      .col-12 {
        @include Flexible($f-wrap: wrap, $j-cont: space-between);
        .left,
        .right {
          @include Flexible($f-wrap: wrap, $a-items: center);
        }
        .weather {
          position: relative;
          margin-right: 15px;
          padding-right: 15px;
          img {
            max-width: 19px;
            margin-right: 8px;
          }
          ul {
            @include Flexible($f-wrap: wrap);
            li {
              display: inline-flex;
              align-items: center;
              &:not(:last-child) {
                position: relative;
                margin-right: 7px;
                padding-right: 7px;
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: -1px;
                  width: 2px;
                  height: 2px;
                  background: $header_link_color;
                  transform: translateY(-1px);
                }
              }
            }
          }
          &::after {
            content: "";
            position: absolute;
            top: -10px;
            bottom: -9px;
            right: 0;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
          }
        }
        .currency {
          width: 150px;
          overflow: hidden;
          height: 20px;
          a {
            @include Flexible($f-wrap: wrap, $gap: 5px, $a-items: center);
          }
        }
        .static-links {
          margin-right: 15px;
        }
        .socials {
          margin-left: 15px;
          @include Flexible($f-wrap: wrap, $a-items: center);
          li {
            display: flex;
            margin: 0 5px;
            a {
              display: inline-block;
              .icon {
                height: 19.2px;
                padding: 1.3px 2px;
                .social_icon {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
        .theme-switch {
          position: relative;
          margin: 0 0 0 15px;
          padding: 0 0 0 15px;
          button {
            cursor: pointer;
            @include Flexible($f-wrap: wrap, $a-items: center);
            svg {
              width: 16px;
              height: 16px;
              color: #f5f5f5;
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            bottom: -9px;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
      a {
        color: $header_link_color;
      }
    }
  }
}
