@import "../../style/globals";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 50;
  @media (min-width: 1200px) {
    position: relative;
    border-bottom: 0;
  }
  .header-top {
    display: none;
    @media (min-width: 1200px) {
      display: block;
      font-size: 12px;
      padding: 8px 0 9px;
      color: #f5f5f5;
      background: $primary_color;
      .col-12 {
        @include Flexible($f-wrap: wrap, $j-cont: space-between);
        .left,
        .right {
          @include Flexible($f-wrap: wrap, $a-items: center);
        }
        .weather {
          position: relative;
          margin-right: 15px;
          padding-right: 15px;
          img {
            max-width: 19px;
            margin-right: 8px;
          }
          ul {
            @include Flexible($f-wrap: wrap);
            li {
              display: inline-flex;
              align-items: center;
              &:not(:last-child) {
                position: relative;
                margin-right: 7px;
                padding-right: 7px;
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: -1px;
                  width: 2px;
                  height: 2px;
                  background: $header_link_color;
                  transform: translateY(-1px);
                }
              }
            }
          }
          &::after {
            content: "";
            position: absolute;
            top: -10px;
            bottom: -9px;
            right: 0;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
          }
        }
        .currency {
          width: 150px;
          overflow: hidden;
          height: 20px;
          a {
            @include Flexible($f-wrap: wrap, $gap: 5px, $a-items: center);
          }
        }
        .static-links {
          margin-right: 15px;
        }
        .socials {
          margin-left: 15px;
          @include Flexible($f-wrap: wrap, $a-items: center);
          li {
            display: flex;
            margin: 0 5px;
            a {
              display: inline-block;
              .icon {
                height: 19.2px;
                padding: 1.3px 2px;
                .social_icon {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
        .theme-switch {
          position: relative;
          margin: 0 0 0 15px;
          padding: 0 0 0 15px;
          button {
            cursor: pointer;
            @include Flexible($f-wrap: wrap, $a-items: center);
            svg {
              width: 16px;
              height: 16px;
              color: #f5f5f5;
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            bottom: -9px;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
      a {
        color: $header_link_color;
      }
    }
  }
  .header-bottom {
    .logo-langs {
      @include Flexible($j-cont: space-between, $a-items: center);
      padding: 15px 0;
      .menu-toggler {
        position: relative;
        width: 34px;
        height: 20px;
        cursor: pointer;
        span {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background: #353535;
          border-radius: 2px;
          transform: translateY(-50%);
          transition: 0.2s ease;
          &:first-child {
            top: 0;
          }
          &:last-child {
            top: 100%;
          }
        }
        &.active {
          span {
            &:nth-child(2) {
              opacity: 0;
            }
            &:first-child {
              top: 50%;
              transform: rotate(-135deg);
            }
            &:last-child {
              top: 50%;
              transform: rotate(135deg);
            }
          }
        }
      }
      .langs {
        display: none;
        margin: 0 0 9px;
        li {
          margin: 0 5px;
          a {
            font-size: 12px;
            opacity: 0.5;
            &:hover,
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .logo {
        a {
          display: block;
          img {
            max-width: 150px;
            height: auto;
          }
        }
      }
    }
    .navbar {
      display: none;
    }
    @media (min-width: 1200px) {
      .logo-langs {
        flex-direction: column;
        padding: 15px 0 20px;
        .menu-toggler {
          display: none;
        }
        .logo {
          a {
            img {
              max-width: 280px;
            }
          }
        }
        .langs {
          @include Flexible($a-items: center);
        }
      }
      .navbar {
        @include Flexible($j-cont: space-between);
        position: relative;
        padding: 18px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        ul {
          width: 100%;
          max-width: calc(100% - 60px);
          @include Flexible($j-cont: space-between);
          li {
            a {
              font-weight: 600;
            }
          }
        }
        .search-icon {
          font-size: 18px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          cursor: pointer;
        }
        .search-block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
          &.show {
            display: block;
          }
          .search-block-inner {
            height: inherit;
            position: relative;
            &:before {
              content: "\f002";
              font-family: "Font Awesome 6 Free";
              font-weight: 600;
              font-size: 18px;
              position: absolute;
              top: 50%;
              left: 0;
              opacity: 0.5;
              transform: translateY(-50%);
            }
            input {
              width: 100%;
              height: inherit;
              padding: 18px 30px;
              letter-spacing: 0.45px;
              outline: none;
              display: block;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              border-radius: 0.25rem;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            }
          }
          .close-search {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 18px;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            border: 1px solid #353535;
            cursor: pointer;
            @include Flexible($j-cont: center, $a-items: center);
          }
        }
      }
    }
  }
  .side-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 290px;
    height: calc(100vh - 65px);
    padding: 20px 15px;
    background: #fefefe;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateX(-295px);
    overflow-y: auto;
    transition: 0.2s ease;
    &.show {
      transform: translateX(0);
    }
    .mobile-menu {
      text-align: center;
      li {
        padding: 13px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        a {
          font-weight: 600;
        }
      }
    }
    .mobile-search {
      margin: 20px 0;
      .mobile-search-inner {
        position: relative;
        &::before {
          content: "\f002";
          font-family: "Font Awesome 6 Free";
          font-weight: 600;
          font-size: 16px;
          position: absolute;
          top: 50%;
          right: 20px;
          opacity: 0.5;
          transform: translateY(-45%);
        }
        input {
          width: 100%;
          letter-spacing: 0.3px;
          padding: 16px 50px 16px 20px;
          background: #f2f2f2;
          border-radius: 3px;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          display: block;
        }
      }
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
}
.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 101%;
  height: 102vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 40;
  display: none;
  &.show {
    display: block;
  }
}
body {
  &.darkMode {
    header {
      background-color: black;
      .header-bottom {
        .logo-langs {
          .menu-toggler {
            span {
              background-color: #fff;
            }
          }
        }
        .navbar {
          .search-block {
            .search-block-inner {
              &::before {
                color: #fff;
                opacity: 1;
              }
              input {
                background-color: black;
                color: white;
              }
            }
            .close-search {
              border: 1px solid #fff;
            }
          }
        }
      }
      .side-menu {
        background-color: black;
        .mobile-menu {
          li {
            border-bottom: 1px solid #353535;
          }
        }
        .mobile-search {
          .mobile-search-inner {
            input {
              color: #fff;
              background-color: black;
              border: 1px solid #353535;
            }
          }
        }
      }
    }
  }
}
