@import "../style/partials/mixin";

.heading {
  @include Flexible($j-cont: space-between, $a-items: center);
  margin-bottom: 25px;
  .page-title {
    margin: 0;
  }
}

.edit-delete {
  position: absolute;
  right: 0;
  top: 0;
  color: #353535;
  background-color: #f2f2f2;
  border-radius: 4px;
  @include Flexible($a-items: center, $f-dir: column);
  button {
    padding: 2px;
    cursor: pointer;
    font-size: 18px;
  }
  .buttons {
    max-height: 0;
    overflow: hidden;
    @include Flexible($f-dir: column, $gap: 5px);
    transition: all 0.3s ease-in;
    button {
      display: block;
    }
    &.show {
      max-height: 70px;
    }
  }
  @media (min-width: 768px) {
    right: 10px;
    top: 10px;
    button {
      font-size: 20px;
      padding: 4px;
    }
  }
}
