html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
li,
footer,
header,
nav,
section,
video,
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a,
*,
button,
span,
p,
i,
input,
select,
textarea,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease;
}

button,
input {
  appearance: none;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}
body {
  font-weight: 500;
  line-height: normal;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1200px) {
    max-width: 1280px;
  }
}
.row {
  @include Flexible($f-wrap: wrap);
  margin-right: -15px;
  margin-left: -15px;
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
