.breaking-news-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 0 20px;
  border: 1px solid #eaeaea;
  .label {
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    align-items: center;
    padding: 11px 15px;
    background: #ed0a0a;
    white-space: nowrap;
    svg {
      font-size: 16px;
    }
    span {
      display: none;
    }
  }
  .breaking-news-slider {
    width: 100%;
    overflow: hidden;
    .swiper {
      margin: 0;
      position: relative;
      display: none;
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-slide {
        margin-bottom: 0;
        .news-item {
          height: 100%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .title {
            font-weight: 700;
            font-size: 15px;
            margin: 0 12px 0 0;
            letter-spacing: normal;
          }
          .news-date {
            span {
              &:first-child::after {
                background-color: #000;
              }
            }
          }
        }
      }
    }
    .scrollingText {
      display: flex;
      flex-flow: row;
      column-gap: 100px;
      width: 100%;
      .news-item {
        display: flex;
        align-items: center;
        column-gap: 20px;
        a {
          font-weight: 600;
          font-size: 12px;
          display: block;
          color: #353535;
        }
      }
    }
    .nav-buttons {
      display: none;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 0;
      padding: 0 10px 0 0;
      z-index: 2;
    }
  }
  @media (min-width: 576px) {
    flex-wrap: wrap;
    .label {
      margin: 0 14px 0 0;
      svg {
        margin: 0 5px 0 0;
      }
      span {
        display: block;
      }
    }
    .breaking-news-slider {
      .scrollingText {
        display: none;
      }
      .swiper {
        display: block;
      }
      .nav-buttons {
        display: flex;
      }
    }
  }
  @media (min-width: 992px) {
    flex-wrap: nowrap;
    .breaking-news-slider {
      .swiper {
        width: calc(100% - 75px);
      }
      .nav-buttons {
        top: 0;
        bottom: 0;
      }
    }
  }
}
.next-slide,
.prev-slide {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s ease;
  background: #f6f6f6;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    height: 18px;
  }
  &:hover{
    opacity: 1;
  }
}
body {
  &.darkMode {
    .breaking-news-container {
      border: 1px solid rgba(234, 234, 234, 0.2);
      .breaking-news-slider{
        .scrollingText {
          .news-item {
            a {
              color: #ffffff;
            }
          }
        }
      }
    }
    .next-slide,
    .prev-slide {
      color: #fff;
      background: rgba(251, 251, 251, 0.2);
      border: none;
    }
  }
}
