.nav-buttons {
  position: absolute;
  top: 0;
  right: -76px;
  display: flex;
  align-items: center;
  z-index: 2;
  height: 100%;
  background-color: #ffffff;
  @media (min-width: 768px) {
    left: 100%;
    bottom: 0;
    top: 0;
    width: 85px;
    height: auto;
  }
}

.next-slide,
.prev-slide {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s ease;
  background: #f6f6f6;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .nav-buttons .prev-slide{
//   margin-left: 0;
// }
.next-slide svg,
.prev-slide svg {
  height: 18px;
}
body {
  &.darkMode {
    .nav-buttons {
      background-color: black;
    }
    .next-slide,
    .prev-slide {
      color: #fff;
      background: rgba(251, 251, 251, 0.2);
      border: none;
    }
  }
}
