@import "./style/partials/mixin";
.entrance {
  .col-lg-4 {
    .side-news {
      padding-top: 20px;
      margin-top: 30px;
      .video-news {
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        margin: 0;
      }
    }
  }
  .col-lg-8 {
    .main-news {
      margin-top: 15px;
      .actual-news-blocks {
        @include Flexible($j-cont: space-between);
        .actual-news-block {
          width: calc(50% - 5px);
          height: 325px;
          position: relative;
          margin-bottom: 15px;
          .info {
            @include Flexible(
              $f-dir: column,
              $a-items: flex-start,
              $j-cont: flex-end
            );
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            color: #fff;
            background: rgba(0, 0, 0, 0.5);
            .news-category {
              font-size: 10px;
            }
            @media (min-width: 768px) {
              padding: 50px;
              &::before,
              &::after {
                content: "";
                position: absolute;
                border: 1px dashed #fff;
                opacity: 0.6;
                z-index: -1;
              }
              &::before {
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 20px;
              }
              &::after {
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
              }
            }
          }
        }
      }
      .small-news {
        @include Gridable($columns: repeat(2, 1fr));
        margin-left: -5px;
        margin-right: -5px;
        .small-news-item {
          font-size: 80%;
          font-weight: 400;
          margin: 10px 5px 15px;
          .image {
            position: relative;
            .image-link {
              display: block;
            }
          }
          .info {
            .title {
              font-size: 14px;
              margin: 10px 0;
              height: 72px;
              overflow: hidden;
              font-weight: 600;
            }
            .news-date {
              font-size: 10px;
            }
          }
        }
        @media (min-width: 576px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 768px) {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
.other-category-news {
  padding: 45px 0 0;
  .row {
    & > * {
      display: flex;
      flex-direction: column;
      margin: 0 0 45px;
    }
    .news-block {
      .info {
        .title {
          font-weight: 600;
        }
      }
    }
    .small-news {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 0 0;
      margin: auto 0 0;
      .small-news-item {
        font-size: 80%;
        font-weight: 400;
        width: calc(50% - 5px);
        .info {
          .title {
            font-size: 14px;
            margin: 10px 0;
            height: 72px;
            overflow: hidden;
            font-weight: 600;
          }
        }
      }
    }
  }
}

