.to-top {
  position: fixed;
  bottom: 40px;
  right: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 26px;
  background: #353535;
  z-index: 45;
  cursor: pointer;
  transition: 0.3s ease;
}
