@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/animations";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
li,
footer,
header,
nav,
section,
video,
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}
img {
  max-width: 100%;
  object-fit: contain;
}
button,
input {
  appearance: none;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}
.outline_btn {
  cursor: pointer;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px solid #353535;
  background-color: transparent;
  padding: 0.375rem 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #353535;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #353535;
    color: rgb(255 255 255);
  }
}
.black_btn {
  background-color: #353535;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  border: 1px solid rgb(0 0 0);
  padding: 0.375rem 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255 255 255);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
  }
}
body {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  color: $primary_color;
  &.hidden-o {
    overflow: hidden;
  }
  &.darkMode {
    background-color: black;
    color: white;
    .outline_btn {
      background-color: #f2f2f2;
      &:hover {
        background-color: #353535;
      }
    }
    .spinner {
      span {
        span {
          background-color: #fff !important;
        }
      }
    }
    .filter-links {
      ul {
        li {
          a {
            background: #1a1a1a;
            border: 1px solid #1a1a1a;
            &:hover {
              background: #fefefe;
              border: 1px solid #a4a4a4;
              color: #000;
            }
          }
        }
      }
    }
    .section-title {
      &::after {
        background-image: url("/images/divider-bg-light.svg");
      }
    }
    .news-item {
      &.highlighted {
        background: #1a1a1a;
      }
      .highlight {
        color: #353535;
        background: #fff;
      }
    }
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}
.d-none {
  display: none;
}
.news-item {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #f2f2f2;
  transition: background 0.5s ease;
  position: relative;
  &.highlighted {
    background: #f2f2f2;
  }
  .highlight {
    background: #fff700;
  }
  @include Flexible($f-wrap: wrap);
  .info {
    width: calc(100% - 100px);
    padding-left: 15px;
    .description {
      font-size: 14px;
      letter-spacing: 0.42px;
      margin: 10px 0;
    }
    .title {
      margin: 0 0 10px;
      font-weight: 500;
    }
  }
  .image {
    width: 100px;
    a {
      display: block;
    }
  }
  @media (min-width: 768px) {
    padding: 20px 14px;
    margin: 0 -14px;
    .image {
      width: 180px;
    }
    .info {
      width: calc(100% - 180px);
      padding-left: 30px;
      .title {
        font-size: 18px;
        letter-spacing: 0.55px;
      }
    }
  }
}
main {
  padding-top: 80px;
  @media (min-width: 1200px) {
    padding: 0;
  }
}
.section-title {
  font-size: 16px;
  letter-spacing: 0.4px;
  padding: 0 0 15px;
  margin: 0 0 25px;
  text-transform: uppercase;
  position: relative;
  font-weight: 800;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("/images/divider-bg-dark.svg");
  }
  @media (min-width: 576px) {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0 0 20px;
    margin: 0 0 20px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1200px) {
    max-width: 1280px;
  }
}
.pt-20 {
  padding-top: 20px;
}
.news-date {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.3px;
  opacity: 0.5;
  span:first-child {
    display: inline-block;
    position: relative;
    padding: 0 7px 0 0;
    margin: 0 7px 0 0;
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      right: -2px;
      width: 2px;
      height: 2px;
      background-color: #fff;
    }
  }
}
.news-category {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 17px;
  border: 1px solid #fff;
}
.title {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.4px;
  font-size: 16px;
  margin: 13px 0;
}
.bg-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.page-title {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.7px;
  margin: 0 0 25px;
}
.news-list {
  margin: 0 0 50px;
  &[class*=col-] {
    margin: 0 0 50px;
}
}
.news-tags {
  padding: 0 0 15px;
  margin: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.spinner {
  @include Flexible($j-cont: center);
  margin-top: 200px;
  min-height: 100vh;
}
.flex {
  @include Flexible($f-wrap: wrap);
}
.text-center {
  text-align: center;
}
.filter-links {
  position: relative;
  text-transform: uppercase;
  padding: 0 0 10px;
  overflow-x: auto;
  margin: 0 0 25px;
  ul {
    @include Flexible();
    li {
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        @include Flexible($j-cont: center, $a-items: center);
        font-weight: 700;
        letter-spacing: 1px;
        padding: 5px 30px;
        background: #fefefe;
        border: 1px solid #a4a4a4;
        transition: 0.2s ease;
        white-space: nowrap;
        height: 42px;
        font-size: 12px;
        &:hover {
          color: #fff;
          background: #353535;
          border-color: #353535;
        }
      }
    }
  }
  @media (min-width: 992px) {
    ul {
      li {
        &:not(:last-child) {
          margin-right: 15px;
        }
        a {
          font-size: 14px;
          height: 50px;
        }
      }
    }
  }
}
.static-page .col-12 {
  min-height: 60vh;
}
.editor-text {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.6px;
  div {
    & > * {
      margin: 0 0 25px;
    }
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}
.h4,
h4 {
  font-size: 1.5rem;
}
#map {
  position: relative;
  height: 450px;
}
.pb-3 {
  padding-bottom: 30px;
}
.row {
  @include Flexible($f-wrap: wrap);
  margin-right: -15px;
  margin-left: -15px;
  & > * {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media (min-width: 576px) {
    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }
  @media (min-width: 992px) {
    .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
    .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}
