.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0;
  width: 100%;
  cursor: pointer;

}
.thumb {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.info {
  width: calc(100% - 40px);
  padding-left: 7px;
  font-weight: 600;
  font-size: 14px;
  max-width: 110px;
}
@media (min-width:576px) {
  .container{
    width: auto;
    margin: 0;
  }
}