@mixin Flexible($f-dir:null,$f-wrap:null,$j-cont:null,$a-items:null,$a-cont:null,$gap:null){
    display: flex;
    flex-direction: $f-dir;
    flex-wrap: $f-wrap;
    justify-content: $j-cont;
    align-items: $a-items;
    align-content: $a-cont;
    gap: $gap;
}
@mixin Gridable($columns:null,$rows:null,$gap:null) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap:$gap;
  }
  