.card-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    button{
        font-family: inherit;
        // font-weight: 600;
        // cursor: pointer;
        // background-color: violet;
        // padding: 3px 6px;
        // border-radius: 6px;
        // &.delete-btn{
        //     background-color: rgb(255, 59, 59);
        //     color: #fff;
        // }
    }
}